/*
.card {
  width: 12rem;
  cursor: pointer;
  float: left;
  display: flex;
  background-color: rgba(127, 126, 126, 0.424);

  text-align: center;
  width: 20rem;
  margin-left: 30px;
  margin-top: 27px;
  justify-content: center;
}

.content {
  text-align: center;
  position: relative;
  transition: all 2.25s;
  background-color: rgb(127, 204, 240);
  padding: 5em;
  transform-style: preserve-3d;
}

.card:hover .content {
  transform: rotateY(0.5turn);
}

.front,
.back {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 2em;
  transform-style: preserve-3d;
  backface-visibility: hidden;
}

.title {
  transform: translateZ(5rem);
  font-size: 2rem;
}

.subtitle {
  transform: translateZ(2rem);
}

.back {
  transform: rotateY(0.5turn);
  background-color: #6664646e;
}

.description {
  transform: translateZ(3rem);
}

*/
