body {
  /* height: 100%; */
  /* max-height: 5rem; */
}

.buttonPaginado .buttonPaginado2 {
}

.buttonPaginado {
  cursor: pointer;
  position: relative;
  padding: 3px 15px;
  margin: 0px 10px 10px 0px;
  float: left;
  border-radius: 3px;
  font-size: 20px;
  color: #fff;
  text-decoration: none;
  background-color: #6220fb;
  border: none;
  border-bottom: 5px solid #4817b9;
  text-shadow: 0px -2px #4817b9;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  -webkit-box-shadow: 11px 10px 29px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 11px 10px 29px -3px rgba(0, 0, 0, 0.75);
  box-shadow: 11px 10px 29px -3px rgba(0, 0, 0, 0.75);
}

.buttonPaginado:hover,
.buttonPaginado:active {
  -webkit-transform: translate(0px, 5px);
  -ms-transform: translate(0px, 5px);
  transform: translate(0px, 5px);
  border-bottom: 1px solid #6220fb;
}
.contenedorPaginado {
  /* width: 100%;
  margin-top: 50px;
  margin-right: 20rem; */
  position: absolute;
}

.buttonPaginado2 {
  cursor: pointer;
  position: relative;
  padding: 3px 15px;
  margin: 0px 10px 10px 0px;
  float: left;
  border-radius: 3px;
  font-size: 20px;
  color: rgba(250, 245, 245, 0.485);
  text-decoration: none;
  background-color: #6220fb4d;
  border: none;
  border-bottom: 1px solid #6220fb;
  /* text-shadow: 0px -2px #6220fb; */
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  -webkit-transform: translate(0px, 5px);
  -ms-transform: translate(0px, 5px);
  transform: translate(0px, 5px);
  /* box-shadow: -1px -1px black; */
  backdrop-filter: blur(2px);
}
