/* .ul {
  list-style-type: none;
  padding-bottom: 50px;
  padding-top: 10px;
  text-align: center;
  margin-left: 43%;
}

.li {
  float: left;
  color: black;
  padding: 0 15px;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  display: flex;
}
.button1 {
  float: left;
  color: black;
  padding: 0 15px;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  display: flex;
}

.button1:active {
  background-color: white;
  color: #d7c8b6;
} */

.buttonPaginado {
  cursor: pointer;
  position: relative;
  padding: 3px 15px;
  margin: 0px 10px 10px 0px;
  float: left;
  border-radius: 3px;
  font-size: 20px;
  color: #fff;
  text-decoration: none;
  background-color: #6220fb;
  border: none;
  border-bottom: 5px solid #4817b9;
  text-shadow: 0px -2px #4817b9;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

.buttonPaginado:hover,
.buttonPaginado:active {
  -webkit-transform: translate(0px, 5px);
  -ms-transform: translate(0px, 5px);
  transform: translate(0px, 5px);
  border-bottom: 1px solid #6220fb;
}
.contenedorPaginado {
  margin-top: 50px;
  margin-right: 20rem;
}
