.ul {
  list-style-type: none;
  padding-bottom: 50px;
  padding-top: 10px;
  text-align: center;
  margin-left: 43%;
}

.li {
  /* background-color: #d6d5d5; */
  /* border: #d7c8b6 2px solid; */
  float: left;
  margin-right: 30px;
  text-align: center;
  display: flex;
  /* background-color: red; */
  padding: 0 4px;
}
.button1 {
  color: black;
  padding: 0 15px;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  display: flex;
}

.button1:active {
  background-color: white;
  color: #d7c8b6;
}
